.navbar {
    background-color: #FFAE74;
}

.img1 {
    width: 500px;
    height: 500px;
}

.img2 {
    width: 150px;
    height: 150px;
}

.img3 {
    width: 150px;
    height: 150px;
}

.img4 {
    width: 150px;
    height: 150px;
}