.img1 {
    animation-duration: 3s;
    position:relative;
    animation-name:img1;
}

@keyframes img1 {
    from {   
        transform:translateX(300px);
    } to {
        transform:translateX(-300px);
    }
}

.img2 {
    animation-name:img2;
    animation-duration:3s;
    animation-delay:1s;
}

@keyframe img2 {
    from {
        opacity:0;
    } to {
        animation-timing-function:ease-in;
        opacity:1;
    }
}