.img1 {
    animation-duration: 2s;
    position:relative;
    animation-name:img1;
    left:200px;
    animation-iteration-count: 1;
}

@keyframes img1 {
    0% {   
        transform:translateX(600px);
    }100% {
        transform: translateX(0px);
    }
}

.img2 {
animation: fadeIn 4s;
animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    } 20% {
        opacity: 0;
    } 50% {
        opacity:0.9;
        transform:scale(1.2);
    } 100% {
        opacity:1;
    }
}

@keyframes fadeInn {
    0% {
        opacity:0;
    } 20% {
        opacity: 0;
    } 50% {
        opacity:0;
    } 100% {
        opacity:1;
    }
}


.about {
    position:absolute;
    bottom:300px;
    animation: fadeInn 4s;
    animation-iteration-count: 1;
}
.products {
    position:absolute;
    bottom:300px;
    animation: fadeInn 4s;
        animation-iteration-count: 1;
}
.contact {
    position:absolute;
    bottom:300px;
    animation: fadeInn 4s;
    animation-iteration-count: 1;

}

body {
    background-color: #FFAE74;
}

