.navbar {
         background-color: rgba(225, 117, 44, 0.89);

}

html {
     overflow-x:hidden;
}

.card-img-top {
     height:160px;
}
.card {
    background-color: rgba(255, 255, 255, 0.79);
    border:2px solid white;
}

footer {
    background-color:#452313;
    
    color: white;
}

.footer-heading {
    font-size:40px;
}
p {
    font-size:20px;
    font-weight: normal;
}

.FBlogo {
    width:auto;
    height:50px;
}
.Ilogo {
    width:auto;
    height:65px;
}
.TWTlogo {
    width:auto;
    height:65px;
}
.SClogo {
    width:auto;
    height:50px;
}

.carousel-item {
    height:350px;
    width:100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators {
    background-color:rgb(0, 0, 0,0.5);
    border-radius:20px;
}

body {
    background-image: url('imgs/AboutBg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:top;
}

h1 {
    color: white;
}

.nav-link {
    color:white;
    font-size:18px;
}